body
{
	
   float:left;
   text-align: center;

}
div {
	display:inline;
	float: left;
	height: 280px;
    width: 120px;
    margin:80px;
    text-align: left;

}

input[type=radio]:hover
{
	cursor: pointer;
}